.todo-list__box {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 100px;
  width: 400px;
  height: auto;
  padding: 0px 10px;
}

#todo-list__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-list__form h2 {
  font-weight: 600;
  font-size: 30px;
}

#todo-list__form input {
  margin-top: 20px;
  width: 250px;
  height: 30px;
  background-color: transparent;
}

#todo-list__form input:focus {
  background-color: white;
}

#todo-list__form input::placeholder {
  color: white;
  opacity: 0.7;
}

#todo-list__form-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#todo-list__form-ul li {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  width: 100%;
  border-bottom: 2.5px solid #b77f36;
  background-color: transparent;
  padding: 5px 0px;
}

#todo-list__form-ul span {
  font-weight: 600;
  background-color: transparent;
}

#todo-list__form-ul button {
  border-radius: 50%;
  width: 30px;
  font-weight: 700;
}
