@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import "reset.css";
/* css */
@import "css/login.css";
@import "css/geo.css";
@import "css/condition.css";
@import "css/todo.css";

body {
  font-family: "Gloria Hallelujah", cursive;
}

.ent-screen {
  background-image: url("https://post-phinf.pstatic.net/MjAxODEyMjBfMTYy/MDAxNTQ1Mjg2MTY2MTg4.EMsVh-XLO8k1jOkWNcZrrjXfhTlKX3Zig2yUYpwQozMg.AKIGpGLH9oHUoInx36ZAesEA6sXuzLt-aS6sDJ2Nfncg.JPEG/96f46544fe3de03b2eafe36ce1c35c7f.jpg?type=w1200");
}

.ent-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

#kitchenImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kitchenImage img {
  width: 1200px;
  height: 500px;
}
