@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import "css/login.css";
@import "css/geo.css";

body {
  font-family: "Gloria Hallelujah", cursive;
}

.ent-screen {
}

.hidden {
  display: none;
}

#weather i {
  font-size: 40px;
  margin: 0px 10px;
}

#weather span {
  font-size: 30px;
}
